1_introduction.aux
1_introduction.bbl
1_introduction.blg
1_introduction.log
1_introduction.nav
1_introduction.out
1_introduction.pdf
1_introduction.snm
1_introduction.synctex.gz
1_introduction.toc
2_biology_cell.nav
2_biology_cell.aux
2_biology_cell.bbl
2_biology_cell.blg
2_biology_cell.log
2_biology_cell.out
2_biology_cell.pdf
2_biology_cell.snm
2_biology_cell.synctex.gz
4_dna_structure_replication.log
2_biology_cell.toc
3_numbers.aux
3_numbers.bbl
3_numbers.blg
3_numbers.log
3_numbers.nav
3_numbers.out
3_numbers.pdf
3_numbers.snm
3_numbers.synctex.gz
3_numbers.toc
4_dna_structure_replication.aux
4_dna_structure_replication.bbl
4_dna_structure_replication.blg
4_dna_structure_replication.nav
4_dna_structure_replication.out
4_dna_structure_replication.pdf
4_dna_structure_replication.snm
4_dna_structure_replication.synctex.gz
5_dna_sequencing.blg
4_dna_structure_replication.toc
5_dna_sequencing.aux
5_dna_sequencing.bbl
5_dna_sequencing.log
5_dna_sequencing.nav
5_dna_sequencing.out
5_dna_sequencing.pdf
5_dna_sequencing.snm
5_dna_sequencing.synctex.gz
5_dna_sequencing.toc
practices/1_dot_matrix.log
practices/1_dot_matrix.aux
practices/1_dot_matrix.out
practices/1_dot_matrix.pdf
practices/1_dot_matrix.synctex.gz
