1_introduction.aux
1_introduction.bbl
1_introduction.blg
1_introduction.log
1_introduction.nav
1_introduction.out
1_introduction.snm
1_introduction.synctex.gz
1_introduction.toc
2_biology_cell.nav
2_biology_cell.aux
2_biology_cell.bbl
2_biology_cell.blg
2_biology_cell.log
2_biology_cell.out
2_biology_cell.snm
2_biology_cell.synctex.gz
4_dna_structure_replication.log
2_biology_cell.toc
3_numbers.aux
3_numbers.bbl
3_numbers.blg
3_numbers.log
3_numbers.nav
3_numbers.out
3_numbers.snm
3_numbers.synctex.gz
3_numbers.toc
4_dna_structure_replication.aux
4_dna_structure_replication.bbl
4_dna_structure_replication.blg
4_dna_structure_replication.nav
4_dna_structure_replication.out
4_dna_structure_replication.snm
4_dna_structure_replication.synctex.gz
5_dna_sequencing.blg
4_dna_structure_replication.toc
5_dna_sequencing.aux
5_dna_sequencing.bbl
5_dna_sequencing.log
5_dna_sequencing.nav
5_dna_sequencing.out
5_dna_sequencing.snm
5_dna_sequencing.synctex.gz
5_dna_sequencing.toc
practices/1_dot_matrix.log
practices/1_dot_matrix.aux
practices/1_dot_matrix.out
practices/1_dot_matrix.synctex.gz
practices/1_sequencing.log
practices/1_sequencing.aux
practices/1_sequencing.out
practices/1_sequencing.synctex.gz
practices/2_sequencing.out
practices/2_sequencing.aux
practices/2_sequencing.log
practices/2_sequencing.synctex.gz
entrada/Informe_Prueba_Entrada_EPCC.log
entrada/Informe_Prueba_Entrada_EPCC.aux
entrada/Informe_Prueba_Entrada_EPCC.bcf
entrada/Informe_Prueba_Entrada_EPCC.idx
entrada/Informe_Prueba_Entrada_EPCC.synctex.gz
entrada/Informe_Prueba_Entrada_EPCC.run.xml
6_aligment.log
6_aligment.aux
6_aligment.bbl
6_aligment.blg
6_aligment.nav
6_aligment.out
6_aligment.synctex.gz
6_aligment.snm
6_aligment.toc
7_alignment_DP.aux
7_alignment_DP.bbl
7_alignment_DP.blg
7_alignment_DP.log
7_alignment_DP.nav
7_alignment_DP.out
7_alignment_DP.snm
7_alignment_DP.synctex.gz
7_alignment_DP.toc
research.aux
research.bbl
research.bcf
research.blg
research.log
research.nav
research.out
research.run.xml
research.snm
research.synctex.gz
research.toc
exams/examen_1_sol.aux
exams/examen_1_sol.log
exams/examen_1_sol.out
exams/examen_1_sol.synctex.gz
exams/examen_1.aux
exams/examen_1.log
exams/examen_1.out
exams/examen_1.synctex.gz
exams/trabajo_1.aux
exams/trabajo_1.log
exams/trabajo_1.out
exams/trabajo_1.synctex.gz
portafolio/Portafolio.aux
portafolio/Portafolio.bbl
portafolio/Portafolio.bcf
portafolio/Portafolio.blg
portafolio/Portafolio.idx
portafolio/Portafolio.log
portafolio/Portafolio.run.xml
portafolio/Portafolio.synctex.gz
portafolio/Portafolio.toc
portafolio/texs/primer_parcial.log
portafolio/texs/prueba_entrada.log
practices/3_dot_matrix.aux
practices/3_dot_matrix.log
practices/3_dot_matrix.out
practices/3_dot_matrix.synctex.gz
webinar.aux
webinar.bbl
webinar.blg
webinar.log
webinar.nav
webinar.out
webinar.snm
webinar.synctex.gz
webinar.toc
practices/4_lectures.aux
practices/4_lectures.log
practices/4_lectures.out
practices/4_lectures.synctex.gz
8_local_alignment.aux
8_local_alignment.bbl
8_local_alignment.blg
8_local_alignment.log
8_local_alignment.nav
8_local_alignment.out
8_local_alignment.snm
8_local_alignment.synctex.gz
8_local_alignment.toc
practices/4_alignment.aux
practices/4_alignment.log
practices/4_alignment.out
practices/4_alignment.synctex.gz
practices/5_alignment.aux
practices/5_alignment.log
practices/5_alignment.out
practices/5_alignment.synctex.gz
practices/6_local_alignment.log
practices/6_local_alignment.out
practices/6_local_alignment.synctex.gz
practices/5_alignment_exercises.aux
practices/5_alignment_exercises.log
practices/5_alignment_exercises.out
practices/5_alignment_exercises.synctex.gz
practices/6_global_alignment.aux
practices/6_global_alignment.log
practices/6_global_alignment.out
practices/6_global_alignment.synctex.gz
practices/7_local_alignment.aux
practices/7_local_alignment.log
practices/7_local_alignment.out
practices/7_local_alignment.synctex.gz
